Options +FollowSymLinks -MultiViews

DirectoryIndex home.php

# ErrorDocument 404 /error_pages/404.html 

# php_flag display_errors off

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

RewriteRule ^chapter/([0-9A-Za-z\-_]+) chapter-page.php?title=$1

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+book\.php\?book_id=([^\s&]+) [NC]
RewriteRule ^ book/%1? [R=301,L]

RewriteRule ^Novel/([0-9]+) book.php?book_id=$1 [L,QSA]



# RewriteRule ^([0-9A-Za-z\-_]+)/([0-9A-Za-z\-_]+) chapter-page.php?book_title=$1&capter_title=$2 [L,QSA]

